In [82]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [83]:
# Librería para trabajar con bases de datos SQL
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors
from psycopg2 import sql

In [84]:
import sys
sys.path.append("../")
from src import support_funciones as sf

In [85]:
df_detalles_artistas = pd.read_csv("detalles_artistas.csv")

In [86]:
df_detalles_artistas.head()

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios
2,A.C. Peterson,9999,"'Narc', 'Shanghai Noon', 'Shooter', 'The Last ...",Actor,no tiene premios
3,A.V.S. Subramanyam,1957,"'Roommates', 'Uncle', 'Ori Nee Prema Bangaramk...","Actor, Director, Writer",no tiene premios
4,Øyvind Øvrebø,9999,"'Tingen, Edderkoppen', 'Demenskoret', 'Kristia...","Actress, Additional Crew",no tiene premios

In [87]:
df_detalles_peliculas = pd.read_csv("detalles_peliculas.csv")

In [88]:
df_detalles_peliculas.head()

,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803
2,Sor Batalla,6.6,Jesús Fragoso Montoya,Fernando Galiana,As punishment for participating in a contest T...,1h 34min,tt0320503
3,Azaad Desh Ke Gulam,5.3,S.A. Chandrashekhar,RekhaRishi KapoorJackie Shroff,"Bharti, a law student from a rich family, live...",2h 33min,tt0330019
4,Suo ming fei dao,NaN,Desconocido,Desconocido,Desconocido,1h 24min,tt0348147

In [89]:
df_pelicula_artista = pd.read_csv("pelicula_artista.csv")
df_pelicula_artista.head()

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards
2  tt0110397    Jennifer Barker
3  tt0111045        Miklós Déri
4  tt0111653           Joe Bays

In [90]:
df_peliculas = pd.read_csv("peliculas.csv")
df_peliculas.head()

    Tipo                         Titulo   Año  Mes         Id generos
0  Movie  Las Travesuras de Super Chido  1990   10  tt0320656  Action
1  Movie            Velai Kidaichiruchu  1990    8  tt0318803  Action
2  Movie                    Sor Batalla  1990    8  tt0320503  Action
3  Movie            Azaad Desh Ke Gulam  1990    4  tt0330019  Action
4  Movie               Suo ming fei dao  1991   11  tt0348147  Action

In [91]:
df_peliculas_final = df_peliculas.merge(df_detalles_peliculas, left_on='Id', right_on='id_pelicula')
df_peliculas_final.head()

,Tipo,Titulo,Año,Mes,Id,generos,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd,id_pelicula
0,Movie,Las Travesuras de Super Chido,1990,10,tt0320656,Action,Las Travesuras de Super Chido,7.7,Alejandro Todd,Óscar FentanesJuan Garrido,Desconocido,1h 35min,tt0320656
1,Movie,Velai Kidaichiruchu,1990,8,tt0318803,Action,Velai Kidaichiruchu,5.2,P. Vasu,SathyarajGautamiAnandraj,"Baasha, a gangster, controls a whole village w...",Desconocido,tt0318803
2,Movie,Sor Batalla,1990,8,tt0320503,Action,Sor Batalla,6.6,Jesús Fragoso Montoya,Fernando Galiana,As punishment for participating in a contest T...,1h 34min,tt0320503
3,Movie,Azaad Desh Ke Gulam,1990,4,tt0330019,Action,Azaad Desh Ke Gulam,5.3,S.A. Chandrashekhar,RekhaRishi KapoorJackie Shroff,"Bharti, a law student from a rich family, live...",2h 33min,tt0330019
4,Movie,Suo ming fei dao,1991,11,tt0348147,Action,Suo ming fei dao,NaN,Desconocido,Desconocido,Desconocido,1h 24min,tt0348147

In [92]:
df_peliculas_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tipo         1453 non-null   object
 1   Titulo       1453 non-null   object
 2   Año          1453 non-null   int64
 3   Mes          1453 non-null   int64
 4   Id           1453 non-null   object
 5   generos      1453 non-null   object
 6   titulo       1453 non-null   object
 7   cali_imdb    961 non-null    float64
 8   direc_imbd   1453 non-null   object
 9   guion_imbd   1453 non-null   object
 10  argum_imbd   1453 non-null   object
 11  durac_imbd   1453 non-null   object
 12  id_pelicula  1453 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 147.7+ KB

In [93]:
df_pelicula_artista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14529 entries, 0 to 14528
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Movie ID      14529 non-null  object
 1   Actriz_Actor  14529 non-null  object
dtypes: object(2)
memory usage: 227.1+ KB

In [94]:
df_pelicula_artista.drop_duplicates()

         Movie ID       Actriz_Actor
0       tt0110660  Tony Ka Fai Leung
1       tt0110363       Luke Edwards
2       tt0110397    Jennifer Barker
3       tt0111045        Miklós Déri
4       tt0111653           Joe Bays
...           ...                ...
14504  tt10709060   Kendra Kuhnhofer
14514  tt14142640            Prakash
14519  tt18688348    Oleg Primogenov
14522  tt27241513   Georgiy Topolaga
14527  tt27262238    Jacob Schindler

[11231 rows x 2 columns]

In [95]:
df_detalles_artistas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9907 entries, 0 to 9906
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   actr          9907 non-null   object
 1   año_nac       9907 non-null   int64
 2   conocido_por  9907 non-null   object
 3   que_hace      9907 non-null   object
 4   premios       9907 non-null   object
dtypes: int64(1), object(4)
memory usage: 387.1+ KB

Vamos a asignar un ID a cada artista

In [96]:
df_detalles_artistas['actr'].duplicated().sum()

np.int64(0)

No hay duplicados, por lo que vamos a proceder a usar el nombre como identificador. De contar con mas tiempo haríamos un id numerico por cada artista

Comprobemos que Id e id_pelicula están repetidos . Esperamos que así sea ya que son las columnas por las que hemos unido los dartaframe originales.

In [97]:
all(df_peliculas_final['Id'] == df_peliculas_final['id_pelicula'])

True

Quitamos uno de ellos.

In [98]:
df_peliculas_final.drop(columns='id_pelicula', inplace=True)

In [99]:
df_peliculas_final[df_peliculas_final['Titulo'] != df_peliculas_final['titulo']].head()

,Tipo,Titulo,Año,Mes,Id,generos,titulo,cali_imdb,direc_imbd,guion_imbd,argum_imbd,durac_imbd
21,Movie,Kôshoku kunoichi ninpô-chô: Vâjin sunaipâ - bi...,1997,10,tt0288305,Action,KÃ´shoku kunoichi ninpÃ´-chÃ´: VÃ¢jin sunaipÃ¢...,6.0,Mototsugu Watanabe,Takao NakanoMototsugu Watanabe,Toranaga is a good-for-nothing loser but happe...,1h 19min
52,Movie,Camp X-Ray: Ghosts of Guantánamo Bay,2004,9,tt0418587,Action,Camp X-Ray: Ghosts of GuantÃ¡namo Bay,6.0,Desconocido,Desconocido,Desconocido,1h 30min
88,Short,Mashin Sentai Kirameijâ Za Mûbî: Bî-Bappu Dorîmu,2021,2,tt11928952,Action,Mashin Sentai KirameijÃ¢ Za MÃ»bÃ®: BÃ®-Bappu ...,7.1,Kyohei Yamaguchi,Naruhisa Arakawa,Desconocido,39min
117,Movie,Glädjekällan,1993,11,tt0107019,Drama,GlÃ¤djekÃ¤llan,6.5,Richard Hobert,Richard Hobert,This is story about an elderly man whose wife ...,1h 29min
125,Movie,Le fils préféré,1994,12,tt0109800,Drama,Le fils prÃ©fÃ©rÃ©,7.0,Nicole Garcia,Nicole GarciaFrançois DupeyronJacques Fieschi,A film shows a family through an adult man's f...,1h 40min

In [100]:
df_peliculas_final.drop(columns='titulo', inplace=True)

In [101]:
df_peliculas_final.columns = ['type', 'title', 'year', 'month', 'id', 'genres', 'score',
       'director', 'writer', 'plot', 'duration']

Renombramos las columnas de artistas

In [102]:
df_pelicula_artista.head()

    Movie ID       Actriz_Actor
0  tt0110660  Tony Ka Fai Leung
1  tt0110363       Luke Edwards
2  tt0110397    Jennifer Barker
3  tt0111045        Miklós Déri
4  tt0111653           Joe Bays

In [103]:
df_pelicula_artista.columns = ['movie_id', 'artist']

Renombramos las columnas de detalles artistas

In [104]:
df_detalles_artistas.head()

,actr,año_nac,conocido_por,que_hace,premios
0,A. Gunaseelan,9999,'Mandela',"Casting Department, Actress, Casting Director",1 nomination
1,A. Michelle Harleston,9999,"'Murder by Numbers', 'The Mark of a Killer', '...",Actor,no tiene premios
2,A.C. Peterson,9999,"'Narc', 'Shanghai Noon', 'Shooter', 'The Last ...",Actor,no tiene premios
3,A.V.S. Subramanyam,1957,"'Roommates', 'Uncle', 'Ori Nee Prema Bangaramk...","Actor, Director, Writer",no tiene premios
4,Øyvind Øvrebø,9999,"'Tingen, Edderkoppen', 'Demenskoret', 'Kristia...","Actress, Additional Crew",no tiene premios

In [105]:
df_detalles_artistas.columns = ['artist', 'year_birth', 'known_for', 'roles', 'awards']

Juntamos las tablas de detalles_artistas y pelicula_artista

In [106]:
df_artista_final = df_pelicula_artista.merge(right=df_detalles_artistas, left_on='artist', right_on='artist')

Quitamos las filas que no tienen datos en artistas

In [107]:
df_artista_final = df_artista_final[df_artista_final['artist'] != 'Sin datos'].drop_duplicates().reset_index()

Prepararamos los datos de los dataframes como lista de tuplas para insertarlos

In [108]:
lista_tuplas_artistas = []
for fila in df_artista_final.values:
    lista_tuplas_artistas.append(tuple(fila))

In [109]:
lista_tuplas_peliculas = []
for fila in df_peliculas_final.values:
    lista_tuplas_peliculas.append(tuple(fila))

## Conexion a la base de datos

In [110]:
sf.crear_basedatos("localhost","postgres","admin","5432","Peliculas")

Error de tipo: la base de datos «Peliculas» ya existe

In [111]:
conexion=sf.conexion_a_dbeaver("Peliculas")
cursor=conexion.cursor()

In [112]:
def creacion_tablas(conexion, cursor):
    try:
        # Creación la tabla de películs
        query_creation_movies = """
        CREATE TABLE IF NOT EXISTS movies (
            type VARCHAR(50),
            title VARCHAR(500),
            year INT,
            month INT,
            id VARCHAR(50) primary key,
            genres VARCHAR(200),
            score FLOAT,
            director VARCHAR(400),
            writer VARCHAR(400),
            plot VARCHAR(1000),
            duration VARCHAR(50)
        );
        """

        cursor.execute(query_creation_movies)
        conexion.commit()

        # Creación la tabla de artistas
        query_creation_artists = """
        CREATE TABLE IF NOT EXISTS artists (
            index INT primary key,
            movie_id VARCHAR(50),
            artist VARCHAR(100) not null,
            year_birth INT,
            known_for VARCHAR(300),
            roles VARCHAR(200),
            awards VARCHAR(200), 
            foreign key (movie_id) references movies(id)
        );
        """

        cursor.execute(query_creation_artists)
        conexion.commit()

       
    except Exception as e:
        print(f"Error creando tablas: {e}")

In [113]:
creacion_tablas(conexion, cursor)

## Insercion de datos

In [114]:
query_insertion_movies = """
INSERT INTO movies (
    type, title, year, month, id, genres, score, director, writer, plot, duration
) VALUES
(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

query_insertion_artists = """
INSERT INTO artists (
    index, movie_id, artist, year_birth, known_for, roles, awards
) VALUES
(%s, %s, %s, %s, %s, %s, %s);
"""

In [115]:
def insercion_datos(conexion, cursor, lista_tuplas, query_insercion):
    cursor.executemany(query_insercion, lista_tuplas)
    conexion.commit()

In [116]:
insercion_datos(conexion, cursor, lista_tuplas_peliculas, query_insertion_movies)
insercion_datos(conexion, cursor, lista_tuplas_artistas, query_insertion_artists)